$mobile: 375px;
$desktop: 1440px;

$color-primary-400: hsl(26, 100%, 55%);
$color-primary-200: hsl(25, 100%, 94%);

$color-secondary-900: hsl(220, 13%, 13%);
$color-secondary-700: hsl(219, 9%, 45%);
$color-secondary-400: hsl(220, 14%, 75%);
$color-secondary-300: hsl(223, 64%, 98%);

$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
$black-75: hsla(0, 0%, 0%, 75);

$font-size: 16px;

$weight-400: 400;
$weight-700: 700;